body {
  /* margin: 0; */
  margin: 50px 0px 0px 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f0;
}

.body-padding {
  margin: 60px 0px 0px 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f0;
}

/* DASHBOARD */
.dashboard-viz {
  /* display: flex;
    justify-content: center;
    align-items: center; */
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.dashboard-container {
  line-height: 25px;
  border-top: 5px;
  border-bottom: 5px;
  border-left: none;
  border-right: none;
  padding: 30px 0%;
}